<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breeds</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ logo_image }}" alt="Logo">
        </div>
        <h1>Dog Breeds</h1>
    </header>

    <div class="breed-list">
        <ul>
            {% for breed_id, breed_name in breeds %}
            <li>
                <a href="/images/{{ breed_id }}">{{ breed_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
